body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
   background-color:darkorchid;
}
.game-section{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 5% 0 5% 0;
   border: 1px black solid;
   background-color: darkmagenta;
}
.player-section{
   display: flex;
   flex-direction: row;
   border: 4px darkred solid;
}
.weapon-section{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border: 1px black solid;
   background-color:saddlebrown;
}
.weapon{
   height: 50px;
   width: 50px;
   border: 1px black solid;
   background-color: grey;
}
.display-section{
   display: flex;
   flex-direction: column;
   border: 1px black solid;
   background-color: sienna;
}
.name-container{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px black solid;
   margin: 5px;
}
.name-container p{
   border: 1px black solid;
   height: 20px;
   width: 70px;
}
.score-container{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px black solid;
   padding: 5px;
   margin: 5px; 
}
.display{
   border: 1px black solid;
   background-color: grey;
   padding: 5px;
   margin: 5px;
   height: 300px;
   width: 300px;
}
.score-container p{
   border: 1px black solid;
   height: 20px;
   width: 20px;
}
.versus-section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 4px darkred solid;
}
.versus{
   border: 1px black solid;
   background-color: grey;
   height: 150px;
   width: 150px;
}
.dialog-section{
   border: 1px black solid;
   background-color:mediumvioletred;
   padding: 1% 10% 1% 10%;
}
.dialog-container{
   border: 1px black solid;
}