body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
   background-color:darkslategray;
}
.game-section{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.player-section{
   display: flex;
   flex-direction: row;
}
.display-section{
   display: flex;
   flex-direction: column;
}
.name-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.name-container p{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
   height: 20px;
   width: 70px;
   font: bolder;
   font-size: 30px;
   font-weight: bold;
   font-style: italic;  
}
.score-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   margin: 5px; 
   font: bolder;
   font-size: 40px;
   font-weight: bold;
   font-style: italic;  
}
.display{
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid black 3px;
   border-radius: 30%;
   padding: 5px;
   margin: 5px;
   height: 500px;
   width: 550px;
}
.score-container p{
   height: 20px;
   width: 20px;
}
.versus-section{
   display: flex;
   justify-content: center;
   align-items: center;
}
.versus{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: grey;
   height: 300px;
   width: 300px;
}
.weapon-section{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 2% 10% 1% 10%;
}
.weapon{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150px;
   width: 150px;
   border-radius: 50%;
   border: 5px black solid;
   background-color: grey;
}