*{
   font-size: 80px;
   font-weight: bold;
   font-style: italic;
   color: white;
}
html,body{
   height: 100%;
   margin: 0;
}
body{
   /*
   display: flex;
   flex-direction: column;
   justify-content: center;
   /*game*/
   /*background-color:dodgerblue;*/
   /*outro*/
   /*background-color:midnightblue;*/
   /*intro*/
   background-color:deepskyblue;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*INTRO & OUTRO*/
form{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.intro-container p,.outro-container p{
   display: flex;
   justify-content: center;
   margin: 0;
}
input{
   background-color: transparent;
   border: none;
   outline: none;
   cursor:default;
}
/*Cursor blinking animation*/
.cursor {
	position: relative;
}
.cursor i {
	position: absolute;
	width: 5px;
	height: 99%;
	background-color: white;
	left: 2px;
   top:1%;
	animation: blink 2s linear infinite;
	opacity: 1; 
}
@keyframes blink {
	0%,50% { opacity: 1; }
	51%,100% { opacity: 0;}
}
input:focus + i {
	display: none;
}
.btn-skip{
   position: absolute;
   bottom: 3%;
   right: 4%;
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: white;
}
.btn-skip:hover{
   color:rgb(0, 159, 212);
}
/*INTRO*/
/*
.intro-container{
}
.intro-container p{
}
*/
/*OUTRO*/
/*
.outro-container{
}
.outro-container p{
}
*/

/*GAME*/
.game-section{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.player-section{
   display: flex;
   flex-direction: row;
}
.display-section{
   display: flex;
   flex-direction: column;
}
.name-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.player-name{
   margin-top:2%;
   font: bolder;
   font-size: 30px;
   font-weight: bold;
   font-style: italic;  
}
.score-container{
   display: flex;
   justify-content: center;
   align-items: center;  
}
.player-score{
   margin-bottom: 3%;
   font: bolder;
   font-size: 40px;
   font-weight: bold;
   font-style: italic;
}
.display{
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid black 3px;
   border-radius: 30%;
   height: 500px;
   width: 550px;
}
.versus-section{
   display: flex;
   justify-content: center;
   align-items: center;
}
.versus{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: grey;
   height: 300px;
   width: 300px;
}
.weapon-section{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 2% 10% 1% 10%;
}
.weapon{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150px;
   width: 150px;
   border-radius: 50%;
   border: 5px black solid;
   background-color: grey;
}